body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #1A1A1D;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  /*text-transform: uppercase;*/
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #c3073f;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #c3073f !important;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(195, 7, 63, 0.8);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  /*padding-top: 5rem !important;*/
  /*padding-bottom: 5rem !important;*/
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    /*padding-top: 3rem !important;*/
    /*padding-bottom: 3rem !important;*/
  }
}

.bg-primary {
  background-color: #1a1a1d !important;
}

.text-primary {
  color: #c3073f !important;
  /*font-family: Times New Roman, cursive !important;*/
  font-weight: bold;
}

a {
  color: #1A1A1D;
}

 a:focus, a:active {
  color: white;
}

.button-projects{
  color: white;
  border-radius: 7px;
  border: 1px solid #c3073f;
  box-shadow: 2px 2px black;
  margin-right: 20px;
  /*background-color: #1A1A1D;*/

  background-color: #c3073f;
}

.nav-links-color{
  color: #c3073f !important;
}
.active{
  color: white !important;
}
.project{

  border: 4px solid #c3073f;
  border-radius: 508px; /* one half of ( (border * 2) + height + padding ) */ 
  box-shadow: 1px 1px 1px black;
  color: white !important;
  font: bold 15px/13px 'Open Sans', serif;
  height: 250px;
  width: 250px;
  padding: 2px 12px 0px 2px;
  font-size: 1.5em;
  display:inline-block;
}

.project-desc{
  width: 65%; 
  /*position:relative; */
  
}